PORT=5000

DB_NAME=sentinova
DB_USER=root
DB_PASSWORD=Ta@190403
DB_HOST=localhost

SESSION_SECRET=mysecret123

JWT_SECRET=myjwtsecret123
JWT_EXPIRES_IN=7d

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

GNEWS_API_KEY=dd19f1af17210b1f00e9f4c7d5960134